<?xml version="1.0" encoding="utf-8"?>
<Macro Key="a487344f-19c6-4c80-b2fd-fe5d88a75664" Alias="ContactForm" Level="0">
  <Name>ContactForm</Name>
  <MacroSource>~/Views/MacroPartials/ContactForm.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>