@model UmbracoNineDemoSite.Core.Features.Shared.Components.Footer.FooterViewModel
@if (Model != null)
{
    <footer class="section--themed">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ta-center">
                    @Model.Text
                </div>
            </div>
        </div>
    </footer>
}