<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7b37f5f7-b795-44f1-9767-26b32ebfa404" Alias="PageTitleDescription" Level="3">
  <Info>
    <Parent>PageTitle</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The page title will be displayed in the browser tab and in the navigation.</Translation>
  </Translations>
</Dictionary>