<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e36246bb-1ebd-4d94-a780-13d0a2d93e43" Alias="PreambleDescription" Level="3">
  <Info>
    <Parent>Preamble</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">An introduction text for this content.</Translation>
  </Translations>
</Dictionary>