<?xml version="1.0" encoding="utf-8"?>
<Content Key="806c5c20-61f1-47fd-8955-58a31135f283" Alias="About this demo site" Level="3">
  <Info>
    <Parent Key="56e3e1a4-696b-4ef8-a779-2c8e52b04944">About</Parent>
    <Path>/UmbracoV16DemoSite/About/AboutThisDemoSite</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2021-06-30T14:00:10</CreateDate>
    <NodeName Default="About this demo site" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="17bbb1e1-9e50-4919-b9c3-5f7c1b5b3abb">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c0c531a4-1de4-4384-be31-e1178fe02c9a",
      "key": "e7e17d49-75c0-4535-8c0f-bcabe06b27b2",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Block to Fix Exception"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e7e17d49-75c0-4535-8c0f-bcabe06b27b2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e7e17d49-75c0-4535-8c0f-bcabe06b27b2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <bodyText>
      <Value><![CDATA[{
  "markup": "\u003Ch1\u003EAbout us\u003C/h1\u003E\n\u003Cp\u003E\u003Cstrong\u003EVestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur aliquet quam id dui posuere blandit. Vivamus suscipit tortor eget felis porttitor volutpat.\u003C/strong\u003E\u003C/p\u003E\n\u003Cp\u003EProin eget tortor risus. Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.\u00A0\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </bodyText>
    <heading>
      <Value><![CDATA[About this demo site]]></Value>
    </heading>
    <pageDescription>
      <Value><![CDATA[SEO meta description for page: About this demo site]]></Value>
    </pageDescription>
    <pageTitle>
      <Value><![CDATA[About this demo site]]></Value>
    </pageTitle>
  </Properties>
</Content>