<?xml version="1.0" encoding="utf-8"?>
<Macro Key="5f4cc409-5f06-4c17-9b07-11dd7c8d3f13" Alias="ContactForm" Level="0">
  <Name>ContactForm</Name>
  <MacroSource>~/Views/MacroPartials/ContactForm.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>