<?xml version="1.0" encoding="utf-8"?>
<Content Key="c619c6f9-6642-4f7b-89a7-98df3f094829" Alias="Contact us" Level="2">
  <Info>
    <Parent Key="01f34f50-c364-42ca-ab8e-f6a5c9244d02">Umbraco v16 Demo Site</Parent>
    <Path>/UmbracoV16DemoSite/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2021-06-30T15:01:59</CreateDate>
    <NodeName Default="Contact us" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="17bbb1e1-9e50-4919-b9c3-5f7c1b5b3abb">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "53ef8639-2564-4966-9c7f-bd7b24ff1ad3",
      "key": "d4b25ee4-ef1b-419b-9838-0b09c1f953da",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Contact Form"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d4b25ee4-ef1b-419b-9838-0b09c1f953da",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d4b25ee4-ef1b-419b-9838-0b09c1f953da",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <bodyText>
      <Value><![CDATA[{
  "markup": "\u003Ch1 data-pm-slice=\u00221 1 []\u0022\u003EStay in touch\u003C/h1\u003E\u003Cp\u003E\u003Cstrong\u003EVestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur aliquet quam id dui posuere blandit. Vivamus suscipit tortor eget felis porttitor volutpat.\u003C/strong\u003E\u003C/p\u003E\u003Cp\u003EProin eget tortor risus. Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.\u0026nbsp;\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </bodyText>
    <heading>
      <Value><![CDATA[Contact us]]></Value>
    </heading>
    <pageDescription>
      <Value><![CDATA[SEO meta description for page: Contact us]]></Value>
    </pageDescription>
    <pageTitle>
      <Value><![CDATA[Contact us]]></Value>
    </pageTitle>
  </Properties>
</Content>