<?xml version="1.0" encoding="utf-8"?>
<Content Key="56e3e1a4-696b-4ef8-a779-2c8e52b04944" Alias="About" Level="2">
  <Info>
    <Parent Key="01f34f50-c364-42ca-ab8e-f6a5c9244d02">Umbraco v9 Demo Site</Parent>
    <Path>/UmbracoV9DemoSite/About</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2021-06-30T13:59:24</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b894f842-02b1-40a0-a9cd-81d864c9821d">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e227015b32384a16af9e34d3eff639cd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c0c531a4-1de4-4384-be31-e1178fe02c9a",
      "udi": "umb://element/e227015b32384a16af9e34d3eff639cd",
      "heading": "Heading",
      "bodyText": "<p>Proin eget tortor risus. Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <bodyText>
      <Value><![CDATA[<h1>Oooh la la</h1>
<p><strong>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur aliquet quam id dui posuere blandit. Vivamus suscipit tortor eget felis porttitor volutpat. </strong></p>
<p>Proin eget tortor risus. Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
<p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur aliquet quam id dui posuere blandit. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
<div class="mceNonEditable embeditem" data-embed-url="https://www.youtube.com/watch?v=v_Q0PuYP74I" data-embed-height="240" data-embed-width="360" data-embed-constrain="true"><iframe width="360" height="203" src="https://www.youtube.com/embed/v_Q0PuYP74I?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>]]></Value>
    </bodyText>
    <heading>
      <Value><![CDATA[About Us]]></Value>
    </heading>
    <pageDescription>
      <Value><![CDATA[SEO meta description for About page.]]></Value>
    </pageDescription>
    <pageTitle>
      <Value><![CDATA[About]]></Value>
    </pageTitle>
  </Properties>
</Content>