<?xml version="1.0" encoding="utf-8"?>
<Content Key="d713b46f-adbd-4e76-aecc-d13c81d90a83" Alias="Maintenance Banner (html)" Level="4">
  <Info>
    <Parent Key="b227c50a-5ade-4f40-acf7-8233d3fd5886">Variables</Parent>
    <Path>/UmbracoV1000DemoSite/Settings/Variables/MaintenanceBannerHtml</Path>
    <Trashed>false</Trashed>
    <ContentType>siteVariable</ContentType>
    <CreateDate>2021-11-25T11:27:16</CreateDate>
    <NodeName Default="Maintenance Banner (html)" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <alias>
      <Value><![CDATA[maintenanceBanner]]></Value>
    </alias>
    <value>
      <Value><![CDATA[<h3>We are sorry!</h3>
<p>We are currently experiencing problems with our payment provider so currently it is not possible to buy products. </p>
<p>Sorry for the inconvenience. ❤️</p>]]></Value>
    </value>
  </Properties>
</Content>