<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbcff595-7b0a-4c2a-9775-d03bbb998655" Alias="Todo list for this demo site" Level="3">
  <Info>
    <Parent Key="56e3e1a4-696b-4ef8-a779-2c8e52b04944">About</Parent>
    <Path>/UmbracoV9DemoSite/About/TodoListForThisDemoSite</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2021-06-30T14:00:29</CreateDate>
    <NodeName Default="Todo list for this demo site" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <bodyText>
      <Value><![CDATA[<h1>Todo</h1>
<p>Here's what could be improved on this demo site:</p>
<p><strong><br />For v2:</strong></p>
<ul>
<li><span style="text-decoration: line-through;">Render blocks through ViewComponens.</span></li>
<li><span style="text-decoration: line-through;">Submit a form through a SurfaceController.</span></li>
</ul>
<p><strong><br />For v3:</strong></p>
<ul>
<li><span style="text-decoration: line-through;">Unit Testing all the things!</span></li>
</ul>
<p><strong><br />For v4:</strong></p>
<ul>
<li><span style="text-decoration: line-through;">Implement search with Examine and custom controller.</span></li>
</ul>
<p><strong><br />Backlog / Wishlist:</strong></p>
<ul>
<li>Members login?</li>
<li><span style="text-decoration: line-through;">Products page?</span></li>
<li>The Grid?</li>
<li>Blog?</li>
</ul>]]></Value>
    </bodyText>
    <heading>
      <Value><![CDATA[Todo list for this demo site]]></Value>
    </heading>
    <pageDescription>
      <Value><![CDATA[SEO meta description for page: Todo list for this demo site]]></Value>
    </pageDescription>
    <pageTitle>
      <Value><![CDATA[Todo list for this demo site]]></Value>
    </pageTitle>
  </Properties>
</Content>