<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="05a7e8cd-317d-4bc8-8ffb-19095d2c218e" Alias="BackgroundImageDescription" Level="3">
  <Info>
    <Parent>BackgroundImage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Upload an image that will be displayed in the background.</Translation>
  </Translations>
</Dictionary>