<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a5374eea-91e5-4404-96df-fc7d458e077e" Alias="CallToActionUrlDescription" Level="3">
  <Info>
    <Parent>CallToActionUrl</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Call to action url.</Translation>
  </Translations>
</Dictionary>