<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d906ba61-6af7-4289-a743-b7bfe10fbe38" Alias="CallToActionLabelDescription" Level="3">
  <Info>
    <Parent>CallToActionLabel</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Call to action label.</Translation>
  </Translations>
</Dictionary>