<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="34bd8837-58eb-4cce-aff6-5700b1549c8e" Alias="CallToActionHeaderDescription" Level="3">
  <Info>
    <Parent>CallToActionHeader</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Call to action header</Translation>
  </Translations>
</Dictionary>