<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0bf0b1d9-5a27-4bfe-9050-9f6cc4e6e7bb" Alias="HeadingDescription" Level="3">
  <Info>
    <Parent>Heading</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The main heading for this content.</Translation>
  </Translations>
</Dictionary>