<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="766c3963-1ce2-47a5-8c01-c850fe600caa" Alias="HomeDescription" Level="3">
  <Info>
    <Parent>Home</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The home page for this website which also serves as root node.</Translation>
  </Translations>
</Dictionary>