<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="657a47aa-489e-48f1-a5c3-d51b89fc0c10" Alias="SubjectDescription" Level="3">
  <Info>
    <Parent>Subject</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Select a email subject that will be used when people submit the contact form.</Translation>
  </Translations>
</Dictionary>