<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aa2c52a0-ce87-4e65-a47c-7df09358585d" Alias="List View - Members" Level="1">
  <Info>
    <Name>List View - Members</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "bulkActionPermissions": {
    "allowBulkPublish": true,
    "allowBulkUnpublish": true,
    "allowBulkCopy": true,
    "allowBulkMove": true,
    "allowBulkDelete": true
  },
  "icon": null,
  "includeProperties": [
    {
      "alias": "username",
      "header": null,
      "nameTemplate": null,
      "isSystem": 1
    },
    {
      "alias": "email",
      "header": null,
      "nameTemplate": null,
      "isSystem": 1
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "nameTemplate": null,
      "isSystem": 1
    }
  ],
  "layouts": [
    {
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "icon": "icon-list",
      "isSystem": 1,
      "selected": true
    },
    {
      "name": "Grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "selected": true
    }
  ],
  "orderBy": "username",
  "orderDirection": "asc",
  "pageSize": 10,
  "showContentFirst": false,
  "tabName": null,
  "useInfiniteEditor": false
}]]></Config>
</DataType>