<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a0156c4-3b8c-4803-bdc1-6871faa83fff" Alias="List View - Media" Level="1">
  <Info>
    <Name>List View - Media</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "bulkActionPermissions": {
    "allowBulkPublish": true,
    "allowBulkUnpublish": true,
    "allowBulkCopy": true,
    "allowBulkMove": true,
    "allowBulkDelete": true
  },
  "icon": null,
  "includeProperties": [
    {
      "alias": "updateDate",
      "header": "Last edited",
      "nameTemplate": null,
      "isSystem": 1
    },
    {
      "alias": "owner",
      "header": "Updated by",
      "nameTemplate": null,
      "isSystem": 1
    }
  ],
  "layouts": [
    {
      "name": "Grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "selected": true
    },
    {
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "icon": "icon-list",
      "isSystem": 1,
      "selected": true
    }
  ],
  "orderBy": "updateDate",
  "orderDirection": "desc",
  "pageSize": 100,
  "showContentFirst": false,
  "tabName": null,
  "useInfiniteEditor": false
}]]></Config>
</DataType>