@model UmbracoTenDemoSite.Core.Features.Shared.Content.IHeadingPage
@if (Model != null)
{
    <section class="section section--themed section--header section--content-center-bottom">
        <div class="section__hero-content">
            <h1 class="no-air">@Model.Heading</h1>
        </div>
    </section>
}