<?xml version="1.0" encoding="utf-8"?>
<Content Key="56e3e1a4-696b-4ef8-a779-2c8e52b04944" Alias="About" Level="2">
  <Info>
    <Parent Key="01f34f50-c364-42ca-ab8e-f6a5c9244d02">Umbraco v9 Sample Site</Parent>
    <Path>/UmbracoV9SampleSite/About</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2021-06-30T13:59:24</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="17bbb1e1-9e50-4919-b9c3-5f7c1b5b3abb">Page</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<h1>Oooh la la</h1>
<p><strong>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur aliquet quam id dui posuere blandit. Vivamus suscipit tortor eget felis porttitor volutpat. </strong></p>
<p>Proin eget tortor risus. Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
<p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur aliquet quam id dui posuere blandit. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
<div class="mceNonEditable embeditem" data-embed-url="https://www.youtube.com/watch?v=v_Q0PuYP74I" data-embed-height="240" data-embed-width="360" data-embed-constrain="true"><iframe width="360" height="203" src="https://www.youtube.com/embed/v_Q0PuYP74I?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>]]></Value>
    </bodyText>
    <heading>
      <Value><![CDATA[About Us]]></Value>
    </heading>
    <pageTitle>
      <Value><![CDATA[About]]></Value>
    </pageTitle>
  </Properties>
</Content>