<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d7444eb-3fc1-4b28-a6e5-8389dad31b33" Alias="Products" Level="2">
  <Info>
    <Parent Key="01f34f50-c364-42ca-ab8e-f6a5c9244d02">Umbraco v9 Sample Site</Parent>
    <Path>/UmbracoV9SampleSite/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>productsContainer</ContentType>
    <CreateDate>2021-07-07T11:12:46</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7f8a56e0-69f3-4683-8456-eff623f4efd7">ProductsContainer</Template>
  </Info>
  <Properties>
    <heading>
      <Value><![CDATA[Our Gorgeous Selection]]></Value>
    </heading>
    <pageTitle>
      <Value><![CDATA[Products]]></Value>
    </pageTitle>
  </Properties>
</Content>