<?xml version="1.0" encoding="utf-8"?>
<Content Key="4de1a4ff-a393-482c-809b-bdb9b79107c7" Alias="Products" Level="2">
  <Info>
    <Parent Key="01f34f50-c364-42ca-ab8e-f6a5c9244d02">Umbraco v9 Demo Site</Parent>
    <Path>/UmbracoV9DemoSite/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2021-07-01T12:53:31</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="17bbb1e1-9e50-4919-b9c3-5f7c1b5b3abb">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0f044de1904145c9926399c6b47914f2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c0c531a4-1de4-4384-be31-e1178fe02c9a",
      "udi": "umb://element/0f044de1904145c9926399c6b47914f2",
      "heading": "Products Products",
      "bodyText": "<p>Products Products</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <bodyText>
      <Value><![CDATA[<h1>Check out our awesome products</h1>
<p><strong>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur aliquet quam id dui posuere blandit. Vivamus suscipit tortor eget felis porttitor volutpat.</strong></p>
<p>Proin eget tortor risus. Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. </p>
<h1><img src="?center=0.5,0.5&amp;mode=crop&amp;width=330&amp;height=220&amp;upscale=false" alt="banjo" width="330" height="220" data-udi="umb://media/48c7e81c79454894a99807e5f988d32a" /></h1>]]></Value>
    </bodyText>
    <heading>
      <Value><![CDATA[Products]]></Value>
    </heading>
    <pageTitle>
      <Value><![CDATA[Products]]></Value>
    </pageTitle>
  </Properties>
</Content>