<?xml version="1.0" encoding="utf-8"?>
<Content Key="97bc9a91-7017-40cf-91c2-aa579e6b5f5b" Alias="Search" Level="2">
  <Info>
    <Parent Key="01f34f50-c364-42ca-ab8e-f6a5c9244d02">Umbraco v9 Demo Site</Parent>
    <Path>/UmbracoV9DemoSite/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2021-07-07T17:26:34</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b85ccc54-b68a-4b7a-8b8d-561ee0a5e600">SearchPage</Template>
  </Info>
  <Properties>
    <heading>
      <Value><![CDATA[Search page]]></Value>
    </heading>
    <noResultsFoundText>
      <Value><![CDATA[No results found]]></Value>
    </noResultsFoundText>
    <pageTitle>
      <Value><![CDATA[Search]]></Value>
    </pageTitle>
    <searchTermText>
      <Value><![CDATA[Search term]]></Value>
    </searchTermText>
    <totalResults>
      <Value><![CDATA[Total items]]></Value>
    </totalResults>
  </Properties>
</Content>