<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f891303-d348-4969-8bc2-dceaa3cc886c" Alias="Settings" Level="2">
  <Info>
    <Parent Key="01f34f50-c364-42ca-ab8e-f6a5c9244d02">Umbraco v9 Demo Site</Parent>
    <Path>/UmbracoV9DemoSite/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2021-06-30T13:07:09</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callToActionButtonLabel>
      <Value><![CDATA[Read more about us]]></Value>
    </callToActionButtonLabel>
    <callToActionDescription>
      <Value><![CDATA[Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat.]]></Value>
    </callToActionDescription>
    <callToActionHeader>
      <Value><![CDATA[Umbraco v9 Demo]]></Value>
    </callToActionHeader>
    <callToActionUrl>
      <Value><![CDATA[umb://document/56e3e1a4696b4ef8a7792c8e52b04944]]></Value>
    </callToActionUrl>
    <footerText>
      <Value><![CDATA[Umbraco HQ - Unicorn Square - Haubergsvej 1 - 5000 Odense C - Denmark - +45 70 26 11 62]]></Value>
    </footerText>
  </Properties>
</Content>