<?xml version="1.0" encoding="utf-8"?>
<Content Key="01f34f50-c364-42ca-ab8e-f6a5c9244d02" Alias="Umbraco v9 Demo Site" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoV9DemoSite</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2021-06-28T14:48:06</CreateDate>
    <NodeName Default="Umbraco v9 Demo Site" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="edb134df-fae8-4984-976a-2bb7cce479bb">Home</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[/media/lksnabbt/loginscreen.jpg]]></Value>
    </backgroundImage>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8a9371fd2b32476485dd024811470446"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c0c531a4-1de4-4384-be31-e1178fe02c9a",
      "udi": "umb://element/8a9371fd2b32476485dd024811470446",
      "heading": "Ooh la la, a demo site for Umbraco v9!",
      "bodyText": "<p><strong>Lorem ipsum</strong><span> dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat. Donec rutrum congue leo eget malesuada. Donec rutrum congue leo eget malesuada.</span></p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <callToActionLabel>
      <Value><![CDATA[Contact us]]></Value>
    </callToActionLabel>
    <callToActionUrl>
      <Value><![CDATA[umb://document/c619c6f966424f7b89a798df3f094829]]></Value>
    </callToActionUrl>
    <heading>
      <Value><![CDATA[Cheers friends and ModelsBuilder! ❤️]]></Value>
    </heading>
    <pageDescription>
      <Value><![CDATA[SEO friendly pages should have a short description.]]></Value>
    </pageDescription>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Moonfish, steelhead, lamprey southern flounder tadpole fish sculpin bigeye, blue-redstripe danio collared dogfish. Smalleye squaretail goldfish arowana butterflyfish pipefish wolf-herring jewel tetra, shiner; gibberfish red velvetfish. Thornyhead yellowfin pike threadsail ayu cutlassfish.]]></Value>
    </preamble>
  </Properties>
</Content>