<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5a2b6cde-e1c3-472b-8fa4-1ebe1585edd2" Alias="FooterTextDescription" Level="3">
  <Info>
    <Parent>FooterText</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The text that will be displayed at the bottom of every page.</Translation>
  </Translations>
</Dictionary>