<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b377b374-38dd-454b-968f-366ace6a7381" Alias="InvalidErrorMessage.email" Level="1">
  <Info>
    <Parent>form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The email is invalid.</Translation>
  </Translations>
</Dictionary>