<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b5f2e789-9bd2-4218-be60-a05caad83358" Alias="MetaPageDescriptionDescription" Level="3">
  <Info>
    <Parent>MetaPageDescription</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">This text is for SEO meta data and would be shown by certain search engines like Google.</Translation>
  </Translations>
</Dictionary>