<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8246607-0155-4c60-8ad3-41bb4459e0a6" Alias="Bowlingball" Level="2">
  <Info>
    <Parent Key="debfcca0-4140-45e8-8e76-4ea9e1eb600e">Products</Parent>
    <Path>/Products/Bowlingball</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-07-07T14:30:53</CreateDate>
    <NodeName Default="Bowlingball" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/aftcj4cv/bowlingball.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>