@using Umbraco.Cms.Web.Common.PublishedModels;
@model UmbracoElevenDemoSite.Core.Features.SearchPage.SearchPageViewModel
@{
    Layout = "Master.cshtml";
}

@if (Model != null)
{
    @(await Html.PartialAsync("_SectionHeader"))

    <section class="section">
        <div class="container">
            <div class="col-md-9">
                @await Component.InvokeAsync("SearchForm", new { model = Model })
            </div>
        </div>
    </section>
}