<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f292c1d-0452-4f23-bd25-acffbd9e788d" Alias="Thank you" Level="3">
  <Info>
    <Parent Key="c619c6f9-6642-4f7b-89a7-98df3f094829">Contact us</Parent>
    <Path>/UmbracoV11DemoSite/ContactUs/ThankYou</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2023-02-16T18:58:51</CreateDate>
    <NodeName Default="Thank you" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b894f842-02b1-40a0-a9cd-81d864c9821d">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <bodyText>
      <Value><![CDATA[<p>We will process your request as soon as possible.</p>]]></Value>
    </bodyText>
    <heading>
      <Value><![CDATA[Thank You]]></Value>
    </heading>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageTitle>
      <Value><![CDATA[Thank You]]></Value>
    </pageTitle>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>