<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1659ba29-1e40-4f04-8d22-4b8c3ce93211" Alias="BlocksDescription" Level="3">
  <Info>
    <Parent>Blocks</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Add a few block items to this page.</Translation>
  </Translations>
</Dictionary>