<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f704142c-d606-4e2b-af5c-15a2e75b5594" Alias="BodyTextDescription" Level="3">
  <Info>
    <Parent>BodyText</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The main body text for this content.</Translation>
  </Translations>
</Dictionary>