<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f5aef687-ca6d-4469-bb65-3fb62a5da4cc" Alias="CallToActionDescription" Level="2">
  <Info>
    <Parent>Properties</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">CTA: Description</Translation>
  </Translations>
</Dictionary>