<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="31560948-2179-4d91-959e-36b7a0888389" Alias="CallToActionDescriptionDescription" Level="3">
  <Info>
    <Parent>CallToActionDescription</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Call to action description</Translation>
  </Translations>
</Dictionary>