<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7bae817b-9adf-4c59-8456-6b589b8499de" Alias="dataConsentCheckboxLabel" Level="1">
  <Info>
    <Parent>form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Yes, I give permission to store and process my data.</Translation>
  </Translations>
</Dictionary>