<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f1f24cd1-db65-4403-85d3-beba5e9c3875" Alias="dataConsentLabel" Level="1">
  <Info>
    <Parent>form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Consent for storing submitted data</Translation>
  </Translations>
</Dictionary>