<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e2289dc9-b1b5-439c-bd77-6bb5799e3298" Alias="requiredErrorMessage" Level="1">
  <Info>
    <Parent>form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The field "{0}" is required.</Translation>
  </Translations>
</Dictionary>