<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="64325e94-bbe4-46e0-91a8-3fe4a485dcda" Alias="RequiredErrorMessage.dataConsent" Level="1">
  <Info>
    <Parent>form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Your consent to store and process your data is required.</Translation>
  </Translations>
</Dictionary>