<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b4354931-d255-4d00-b7c0-031d75502c6f" Alias="RequiredErrorMessage.subject" Level="1">
  <Info>
    <Parent>form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please enter a subject.</Translation>
  </Translations>
</Dictionary>