<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4fcc8190-b54b-4fd3-ad34-2ed77c556177" Alias="RequiredErrorMessage.name" Level="1">
  <Info>
    <Parent>form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please enter your first and last name.</Translation>
  </Translations>
</Dictionary>