<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="aea50d86-dfb0-4005-86a2-9974e3d8f466" Alias="RequiredErrorMessage.email" Level="1">
  <Info>
    <Parent>form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Email is mandatory.</Translation>
  </Translations>
</Dictionary>