<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1639799d-b42a-4148-bbeb-6db8348bc8f2" Alias="RequiredErrorMessage.message" Level="1">
  <Info>
    <Parent>form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please enter your message.</Translation>
  </Translations>
</Dictionary>