<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="53ef8639-2564-4966-9c7f-bd7b24ff1ad3" Alias="contactForm" Level="3">
  <Info>
    <Name>#ContactForm</Name>
    <Icon>icon-message-unopened color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks/Contact+Form</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b0df53b9-4133-469b-b0c8-32a185a6cf1b</Key>
      <Name>#Heading</Name>
      <Alias>heading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#HeadingDescription]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contactForm">#ContactForm</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>#ContactForm</Caption>
      <Alias>contactForm</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>