<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="27c0ced1-8610-46ec-8d23-bd40297bee59" Alias="sEO" Level="2">
  <Info>
    <Name>#SEO</Name>
    <Icon>icon-search color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>#SEODescription</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>886789f3-4708-4af0-abd8-4909d6a5a5d0</Key>
      <Name>#MetaPageDescription</Name>
      <Alias>pageDescription</Alias>
      <Definition>b67468d3-0da2-44e5-ac14-f06dfa1139ad</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#MetaPageDescriptionDescription]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sEO">#SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>de6abdd9-84da-4259-a333-d908f92ed5ca</Key>
      <Name>#PageTitle</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#PageTitleDescription]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sEO">#SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1611f9af-8a81-4faa-b202-76d01e89ac33</Key>
      <Caption>#SEO</Caption>
      <Alias>sEO</Alias>
      <Type>Group</Type>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>