<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3f1f2810-28a7-4dae-9f3b-603813f5b63b" Alias="siteVariables" Level="2">
  <Info>
    <Name>#SiteVariables</Name>
    <Icon>icon-ordered-list color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6d3180b2-6cde-4be5-8843-541500638741" SortOrder="0">siteVariable</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>