<?xml version="1.0" encoding="utf-8"?>
<Media Key="00c2dcfe-49b3-4aaa-abc6-7bb15ee0dd86" Alias="Mocks" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mocks</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-07-02T09:31:37</CreateDate>
    <NodeName Default="Mocks" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>