<?xml version="1.0" encoding="utf-8"?>
<Media Key="48c7e81c-7945-4894-a998-07e5f988d32a" Alias="7373036290 5E8420bf36 B" Level="2">
  <Info>
    <Parent Key="00c2dcfe-49b3-4aaa-abc6-7bb15ee0dd86">Mocks</Parent>
    <Path>/Mocks/E8420bf36B</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-07-02T08:50:04</CreateDate>
    <NodeName Default="7373036290 5E8420bf36 B" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dlumoscf/7373036290_5e8420bf36_b.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>