<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b67468d3-0da2-44e5-ac14-f06dfa1139ad" Alias="#SEO - PageDescription - Textarea" Level="1">
  <Info>
    <Name>#SEO - PageDescription - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 150,
  "Rows": 3
}]]></Config>
</DataType>