<?xml version="1.0" encoding="utf-8"?>
<DataType Key="39d51112-1ce9-4227-b7f8-f6b15015ad2b" Alias="Blocks" Level="1">
  <Info>
    <Name>Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "53ef8639-2564-4966-9c7f-bd7b24ff1ad3",
      "settingsElementTypeKey": "73adbe80-9e30-4213-af51-abdb58f89a9e",
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "c0c531a4-1de4-4384-be31-e1178fe02c9a",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>