<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9bbd0ffb-7911-4b1a-8408-65b54089b663" Alias="Image upload" Level="1">
  <Info>
    <Name>Image upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "jpg"
    }
  ]
}]]></Config>
</DataType>