@{
    // Sorry, this block has not been implemented yet, see:
    // TODO v2: Every block (Blocklist vs. Nested Content?) is rendered through a ViewComponent.
}

<section class="section section">
    <div class="umb-grid">
        <div class="grid-section">
            <div>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div>
                            <div class="blogposts">
                                <a class="blogpost">
                                    <h3 class="blogpost-title">Oooh la la</h3>
                                    <div class="blogpost-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat. Donec rutrum congue leo eget malesuada. Donec rutrum congue leo eget malesuada.</div>
                                </a>
                                <a class="blogpost">
                                    <h3 class="blogpost-title">Now it gets exciting</h3>
                                    <div class="blogpost-excerpt">Donec sollicitudin molestie malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Sed porttitor lectus nibh.</div>
                                </a>
                                <a class="blogpost">
                                    <h3 class="blogpost-title">This will be great</h3>
                                    <div class="blogpost-excerpt">Proin eget tortor risus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus magna justo, lacinia eget consectetur sed</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>