<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8e35506d-5443-4973-92f3-e5234f161498" Alias="CallToActionButtonLabel" Level="2">
  <Info>
    <Parent>Properties</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">CTA: Button label</Translation>
  </Translations>
</Dictionary>