<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a2f3b655-ab64-4c38-89be-31029b0e70bf" Alias="CallToActionButtonLabelDescription" Level="3">
  <Info>
    <Parent>CallToActionButtonLabel</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Call to action button label.</Translation>
  </Translations>
</Dictionary>